@model WebApplication1.Models.COPTD

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>COPTD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COMPANY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPANY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TA001)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TA001)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.batchNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.batchNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COP_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COP_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isfail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isfail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.update_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.update_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.update_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.update_user)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
