@model WebApplication1.Models.COPTD

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>COPTD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COMPANY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPANY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TA001)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TA001)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.batchNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.batchNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COP_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COP_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isfail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isfail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.update_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.update_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.update_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.update_user)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
